:root{
    --color-principal-one: #F11A7B;
    --color-principal-one-poin: #f898c3;
    --color-principal-two:#CAE9F9;
    --color-principal-thre:#F9A959;
    --color-principal-four:#0D1D31;
    --color-alternative-black:#D8D9DA;
    --color-white-on:#FFFFFF;
    --color-white-alternative:#FFF6F6;
    --font-family-montecarlo:'MonteCarlo', cursive;
    --font-family-hedvig:'Hedvig Letters Serif', serif;
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0; 
    position: relative;  
}

body{
    position: relative;
}
header {
    width: 100%;
    background-image: url('../assets/img/NN2.png');
    background-position: center;
    background-size: 570px;
    background-position-y: -15px;
    background-repeat: no-repeat;
    height: 90vh;
    padding: 1rem;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    filter: blur(1px);
    z-index: 1;
}
menu{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header p {
    font-family: var(--font-family-montecarlo);
    text-transform: capitalize;
    font-size: 2.5rem;
    color: var(--color-white-on);
    z-index: 1;
    letter-spacing: 4px;
}
.menu-mobile{
    z-index: 1;
}
.section-one {
    display: grid;
    place-items: center;
    height: 100%; /* Añade esta línea para ocupar la altura completa del header */
}
.section-one  h1{
    font-size: 2.5rem;
    color: #F11A7B;
    font-family: var(--font-family-hedvig);
    z-index: 1;
    text-transform: capitalize;
    letter-spacing: 4px;
}
.section-one  p{
    font-size: 1rem;
    color: var(--color-white-on);
    font-family: var(--font-family-hedvig);
    z-index: 1;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-align: center;
}

/* section-two */

.section-two {
    width: 100%;
}
.section-two--container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
    margin-top: 2rem;
}
.section-two--container-title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.section-two--container-title h2{
    font-size: 1.8rem;
    text-align: center;
    font-family: var(--font-family-hedvig);
    text-transform: capitalize;
    color: #F11A7B;
}
.section-two--container-title p{
    font-size: 1rem;
    text-align: center;
    font-family: var(--font-family-hedvig);
    text-transform: capitalize;
    line-height: 1.7rem;
}
.section-two--image{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    gap: 1rem;
    padding-top: 2rem;
}
.section-two--image img{
    width: 100%;
    max-width: 1000px;
    border-radius: .3rem;
}


/* section reel */

.section-reel {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
    
}
.section-reel::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    filter: blur(1px);
    z-index: 2;
}
.section-reel--container {
    max-width: 100%;
    margin: 0 auto;  
}
.section-reel video {
    width: 100%;
    position: relative;
    opacity: 90%;
}

.title-reel {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 2;
}
.title-reel h2 {
    font-family: var(--font-family-montecarlo);
    font-size: 3rem;
    color: #F11A7B;
    text-transform: capitalize;
    letter-spacing: 4px;
}
.title-reel p {
    font-family: var(--font-family-hedvig);
    font-size: 1rem;
    color:var(--color-white-on);
    text-transform: capitalize;
    letter-spacing: 2px;
}

/* video shows */


.section-shows {
    width: 100%;
    padding-top: 2rem;

}
.section-shows--container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section-shows--title {
    display: flex;
    justify-content: center;
}
.section-shows--title {
    font-size: .5rem;
    font-family: var(--font-family-hedvig);
    color: #F11A7B;
    text-transform: capitalize;
    background-color: #f898c3;
    margin-inline:4.5rem;
    padding: .5rem;
    border: none;
    border-radius: .7rem;
    border-left: #F11A7B solid 3px;
    font-weight: 400;
    letter-spacing: 2px;
}
.section-shows--videos {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.shows-video p{
    font-size: 1rem;
    font-family: var(--font-family-hedvig);
    line-height: 1.7rem;
    font-weight: 500;
}
.shows-video picture{
    position: relative;
}
.shows-video picture img{
    width: 100%;
    max-width: 500px;
    margin-top: 1.5rem;
    box-shadow: 4px 8px 15px 0px rgba(0, 0, 0, 0.7);
    z-index: 1;
    border-radius:.5rem ;
}
.shows-video picture p{
    text-align: center;
    padding: .7rem;
    padding-top: 1rem;
    background-color:#f898c3;
    margin-inline:1.8rem;
    top: -10px;
    border-bottom-left-radius:  .7rem ;
    border-bottom-right-radius: .7rem;
    text-transform: capitalize;
    color: #F11A7B;
    margin: 0 auto;
}

.button-up{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 5;
    background-color: #F11A7B;
    padding: .4rem .5rem;
    border-radius: .3rem;
    cursor: pointer;
}

/* solista y banda */

.section-band {
    width: 100%;
    margin-top: 2rem;
    background-color: #fce7f0;
}
.section-band--container {
    max-width: 1100px;
    padding: 1rem;
    margin: 0 auto;
}
.section-band--title {
    display: flex;
    justify-content: center;
}

.section-band--title h2{
    font-size: .7rem;
    font-family: var(--font-family-hedvig);
    color: #F11A7B;
    text-transform: capitalize;
    background-color: #f898c3;
    margin-inline:2rem;
    padding: .5rem;
    border: none;
    border-radius: .7rem;
    border-left: #F11A7B solid 3px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}
.section-ban--content {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1.5rem;
}
.section-ban--content div {
    display: inline-block;
    width: 100%;
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 1rem;
    box-shadow:  4px 5px 15px 0px rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    border: none;
}
.section-ban--content div::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    filter: blur(1px);
    z-index: 1;
    border-radius: .5rem;
}
.section-ban--content div h3 {
    font-size: 2.2rem;
    font-family: var(--font-family-montecarlo);
    text-transform: capitalize;
    color: var(--color-principal-one);
    z-index: 2;
    letter-spacing: 3px;
}
.section-ban--content div p {
    font-size: 1rem;
    font-family: var(--font-family-hedvig);
    text-transform: capitalize;
    color:var(--color-white-on);
    z-index: 2;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.section-ban--content div p span {
    margin-left: .2rem;
}

.section-band--solist {
    background-image: url('../assets/img/IMG_2029\ 2.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-band--band {
    background-image: url('../assets/img/band.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
